@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/*--------------------------------------------------VISTA EMPRESA----------------------------------------------------*/
html * {
  margin: 0;
  padding: 0;
}

/**************************************** ESTILOS PARA EL NAVBAR ***************************************/
.navbar {
  background-color: transparent !important;
  color: #ffffff !important;
  /* Letras blancas en estado inicial */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
  font-size: 1.2vw;
  padding: 4px;
}

.navbar-brand {
  padding-left: 14px;
}

.navbar-nav li {
  padding-right: 11px;
}

.navbar-nav a {
  color: black;
}

/* Estilo para el enlace activo */
.navbar-nav .nav-item .nav-link.active {
  color: #ffffff !important;
  /* Cambia "otroColor" al color deseado para el enlace activo */
}

/* Estilo para el botón de alternancia en dispositivos móviles */
.navbar-toggler-icon {
  background-color: transparent;
  /* Cambia "colorBoton" al color deseado para el botón de alternancia */
}

/*-----------------------------------------BANNER PLANTA----------------------------------------------*/
.banner-planta {
  flex: auto;
  width: auto;
  /*height: 47vw;*/
  height: auto;
  max-width: 100%;
  /*Ajusta el ancho máximo según tus necesidades */
  max-height: 100%;
  /*Ajusta la altura automáticamente para mantener la proporción*/
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  /* Para asegurar que la imagen no sobresalga del contenedor */
  position: relative;
}

/* Asegurar que la imagen ocupe todo el contenedor */
.banner-planta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hacer que la imagen sea responsive */
@media (max-width: 767px) {
  /* Estilos para pantallas pequeñas */
  .banner-planta {
    height: auto;
    /* Permitir que la altura sea automática en pantallas más pequeñas */
  }

  .banner-equipo {
    height: auto;
  }
}

/*-----------------------------------------PRESENTACION DATOS----------------------------------------------*/
.presentacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 100px;
  max-width: 100%;
}

.presentacion-datos {
  width: 420px;
  text-align: justify;
}

.presentacion-datos h2 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 900;
}

.presentacion-datos p {
  padding-right: 41px;
  font-weight: 450;
  padding-bottom: 10px;
  font-size: 15px;
}

.carousel {
  width: 40%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.9);
}

.carousel-inner img {
  width: 50px;
  height: 310px;
  object-fit: cover;
}

.container-datos-magnitud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 60px;
  padding-top: 10px;
  pointer-events: none;
}

/* Estilo de cada tarjeta */
.tarjeta-datos-magnitud {
  box-sizing: border-box;
  width: 100%;
  max-width: 190px;
  margin: 10px;
  padding: 5px 5px;
  border: 1px solid #fdfdfd3d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.493);
  font-weight: 700;
}

.tarjeta-datos-magnitud span {
  color: #c0261c;
}

/*-----------------------------------------INFO EMPRESA----------------------------------------------*/
.info-empresa-cartas {
  position: relative;
  height: 65vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.cards-container {
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
  pointer-events: none;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  margin: 10px;
  padding: 12px;
  max-width: 300px;
  width: 290px;
}

.card-body {
  padding: 10px; /* Ajustado para mantener proporción */
}

.card-title {
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
}

.card-text {
  font-size: 14px;
  color: white;
}

/*------------------------------------------INFO EQUIPO---------------------------------------------------*/
.info-equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px 100px;
  font-family: sans-serif;
  height: auto;
}

.img-trabajadores img {
  max-width: 100%;
  height: 390px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.info-equipo-parrafo {
  margin-top: 25px;
  width: 100%;
  font-size: 15px;
}

/*------------------------------------------SLIDE FOTOS ANTIGUAS EQUIPO---------------------------------------------*/

.separador-historia {
  text-align: center;
  padding: 10px 50px;
  /* Ajusta el espaciado superior e inferior según tus preferencias */
  font-size: 2rem;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(235, 235, 235, 0.788);
}

#carouselExampleFade {
  width: 100%; /* Puedes ajustar el ancho según sea necesario */
  height: 48vh; /* Puedes ajustar la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
}

/* Video Background Container */
.video-background-buriasco {
  position: relative;
  width: 100%;
  height: 80vh; /* Full height of viewport */
  overflow: hidden;
  /* background-color: black; */
  background-color: rgba(235, 235, 235, 0.788);
  /* margin-bottom: 20px; */
}

/* Video Styling */
#background-video-buriasco {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 90%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Ensures the video covers the container */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

/********************************************** SECCION FOOTER *********************************************/
.footer-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 8vw;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #333;
  color: #fff;
}

.footer-section p {
  font-size: 14px;
}

.footer-contacto-admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  align-items: right;
  text-align: right;
  flex-wrap: wrap;
  order: 2;
  margin-bottom: 1px;
  margin: 2px;
  align-items: center;
}

.footer-contacto-planta {
  width: 100%;
  text-align: left;
  order: 1;
  width: 100%;
  margin-bottom: 1px;
  margin-right: 1px;
}

.footer-contacto-admin img {
  height: 14vh;
  width: 21vh;
}

.footer-creds {
  text-align: center;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #131313;
  color: #fff;
}

.footer-creds p {
  font-size: 12px;
}

@media screen and (max-width: 425px) {
  .footer-section {
    flex-direction: column;
    /* Cambia a disposición de columna en pantallas pequeñas */
    text-align: center;
    /* Centra el contenido en pantallas pequeñas */
  }

  .footer-contacto-admin {
    width: 100%;
    align-items: center;
  }

  .footer-contacto-admin img {
    height: 15vh;
    width: 22vh;
  }

  .footer-contacto-planta {
    width: 100%;
    text-align: center;
  }

  .footer-creds {
    width: 100%;
  }

  .footer-contacto-planta,
  .footer-contacto-admin {
    margin-bottom: 20px;
  }
}

/************************************** Reglas de medios para hacer estilos más responsivos ****************************/
@media (max-width: 980px) {
  .navbar-nav li {
    font-size: 15px;
    padding-right: 0;
  }
  .card {
    max-width: 250px;
    width: 195px;
  }
  .img-trabajadores img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
  .navbar-nav a {
    font-size: 18px;
    text-align: center;
  }
  .navbar-nav li {
    font-size: 18px;
    text-align: center;
    padding-right: 0;
  }
  .presentacion {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 60px;
  }
  .presentacion-datos {
    order: 2;
    text-align: center;
    padding-top: 30px;
  }
  .presentacion-datos p {
    padding: 3px 10px;
  }
  #carouselExampleIndicators {
    order: 1;
  }
  .carousel {
    width: 70vh;
  }
  .carousel-inner img {
    max-height: 50vh;
  }
  .card {
    margin: 8px;
    padding: 1px;
    max-width: 250px;
    width: 200px;
  }

  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.8rem;
  }
  .info-equipo {
    padding: 70px 40px;
  }
  .img-trabajadores img {
    max-width: 100%;
    height: 240px;
  }
  #info-contacto {
    flex-direction: column;
    align-items: center;
  }
  .footer-contacto-admin {
    order: 2;
  }
  .footer-contacto-planta {
    order: 1;
    padding-bottom: 20px;
    text-align: center;
  }
  .tarjeta-datos-magnitud {
    width: 100%;
    max-width: 220px;
  }
}

@media (max-width: 670px) {
  .navbar-nav li {
    font-size: 15px;
    padding-right: 0;
  }
  .carousel {
    width: 70vh;
  }
  .carousel-inner img {
    max-height: 55vh;
  }
  /* Ocultar la tercera tarjeta en pantallas pequeñas */
  .card:nth-child(1),
  .card:nth-child(2) {
    display: none;
  }
  .card {
    max-width: 390px;
    width: 370px;
  }
  .img-trabajadores img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 410px) {
  .navbar-nav li {
    font-size: 15px;
    padding-right: 0;
  }
  .presentacion-datos {
    padding-top: 30px;
    padding: 32px;
    max-width: 100%;
  }
  .carousel {
    width: 35vh;
  }
  .carousel-inner img {
    max-height: 50vh;
  }
  .info-empresa-cartas {
    max-width: 100%;
  }
  .video-background {
    width: 100%;
  }
  /* Ocultar la tercera tarjeta en pantallas pequeñas */
  .card:nth-child(1),
  .card:nth-child(2) {
    display: none;
  }
  .card {
    max-width: 290px;
    width: 215px;
  }
  .info-equipo {
    padding: 70px 14px;
    max-height: auto;
  }
  .img-trabajadores img {
    height: 150px;
  }
}
