@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html * {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/**************************************** ESTILOS PARA EL NAVBAR ***************************************/
.navbar {
  background-color: transparent !important;
  color: #ffffff !important;
  /* Letras blancas en estado inicial */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  transition: background-color 0.5s ease-in-out;
  font-size: 1.2vw;
  padding: 4px;
}
  
.navbar-brand{
  padding-left: 14px;
}
  
.navbar-nav li{
  padding-right: 11px;  
}
  
.navbar-nav a{
  color: black;    
}

/* Estilo para el enlace activo */
.navbar-nav .nav-item .nav-link.active {
  color: #ffffff !important;
  /* Cambia "otroColor" al color deseado para el enlace activo */
}
  
/* Estilo para el botón de alternancia en dispositivos móviles */
.navbar-toggler-icon {
  background-color: transparent;
  /* Cambia "colorBoton" al color deseado para el botón de alternancia */
}

/*-----------------------------------------BANNER SERVICIOS----------------------------------------------*/
.presentacion-servicios {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  pointer-events: none;
}

.banner-servicios img {
  width: 100%;
  height: 50vh;
  display: block;
}

.intro-desarrollo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.intro-desarrollo h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.intro-desarrollo p {
  font-size: 1em;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border-radius: 8px;
  padding: 10px 10px;
  text-shadow: 0 0 9px rgba(0, 0, 0, 9);
  color: white;
  text-shadow: 2px 2px 4px black;
}

.intro-desarrollo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}



/********************************************** SECCION SERVICIOS *********************************************/

/* Estilos para la sección de iconos */
.iconos-servicios {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20%;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

/* Estilos para cada ícono y texto */
.iconos-servicios a {
  text-align: center;
  flex: 1;
  padding: 1px;
}

.iconos-servicios img {
  max-width: 70px;
  height: 70px;
}

.iconos-servicios p {
  font-family: 'Bebas Neue', sans-serif;
  margin-top: 8px;
  font-size: 20px;
}

/************************************TARJETAS DE REDIRECCION A SERVICIOS*******************************************/
.tarjetas-servicio-catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 30px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 17rem;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 180px; /* Altura fija para todas las tarjetas */
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
  cursor: default;
  transition: all 400ms ease;
}

.tarjeta:hover{
  box-shadow: 0 5 20px rgba(0, 0, 0, 4);
  transform: translateY(-3%);
}

.tarjeta-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta-title {
  margin: 10px 0;
  font-size: 19px;
  font-weight: 800;
  font-family: sans-serif;
}

.tarjeta-text {
  margin: 10px 0;
  font-size: 14px;
}

.btn-indice {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 1em;
  color: #fff;
  background-color: #c0261c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 5 5 20px rgba(0, 0, 0, 1);
text-decoration: none;
}

.btn-indice:hover {
  background-color: darkred;
}

/************************************* SECCION TARJETAS SERVICIOS VAGONES****************************************/
.cards-vagones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 45px;
}

/* Estilo para cada tarjeta */
.card {
  width: 100%;
  margin-bottom: 45px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover {
  box-shadow: 5 5 20px rgba(0, 0, 0, 1);
  transform: translateY(-3%);
}

/* Estilo para las imágenes en las tarjetas */
.card img {
  max-width: 100%;
  height: 160px; 
  object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
}

.btn {
  background-color: #c0261c;
  color: white;
  padding: 4px 40px;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  /* Agrega una transición suave al color de fondo */
  align-items: center;
  /* Centra verticalmente los elementos */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 position: absolute;
  bottom: 10px;
  transform: translateX(-50%);
}

.btn:hover {
  background-color: darkred;
  /* Cambia el color de fondo al pasar el puntero */
}

.card-body p {
  margin-bottom: 35px;
  text-align: center;
}

.separador-repuestos {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30%;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(235, 235, 235);
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

/* Estilo para el contenedor de la imagen */
.imagen-respuestos-ferroviarios {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-bottom: 18px;
}

/* Estilo para la imagen */
.imagen-respuestos-ferroviarios img {
  max-width: 100%; /* Hace que la imagen sea completamente responsive */
  height: auto;
  display: inline-block; /* Alinea la imagen correctamente */
}

/************************************* SECCION TARJETAS FABRICACION MODULOS**************************************/

.separador-modulos {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(235, 235, 235);
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

/************************************* SECCION banner planta puerta****************************************/
.banner-planta-puerta {
  flex: auto;
  width: auto;
  /*height: 47vw;*/
  height: 50vh;
  /*Ajusta al total de la Ventana en todos los dispositivos*/
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  /* Para asegurar que la imagen no sobresalga del contenedor */
  position: relative;
}

/* Asegurar que la imagen ocupe todo el contenedor */
.banner-planta-puerta img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/********************************************** SECCION FOOTER *********************************************/
.footer-section {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  /*align-items: flex-start;*/
  text-align: center;
  padding: 30px 10vw;
  font-size: 14px;
  background-color: #333;
  color: #fff;
}

.footer-contacto-admin {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 100%;
  height: auto;
  align-items: right;
  text-align: right;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan a la siguiente línea en pantallas pequeñas */
  order: 2;
  /* Cambia el orden, para que aparezca despues en pantallas pequeñas */
  width: 50%;
  max-width: 400px;
  margin-bottom: 1px;
}

.footer-contacto-planta {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: auto;
  text-align: left;
  order: 1;
  /* Cambia el orden, para que aparezca despues en pantallas pequeñas */
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan a la siguiente línea en pantallas pequeñas */
  max-width: 400px;
  margin-bottom: 1px;
}

.footer-creds {
  text-align: center;
  padding: 4px 10px;
  font-size: 12px;
  background-color: #333;
  color: #fff;
}

.footer-creds img {
  height: 7vh;
  width: 11vh;
}

.footer-creds p{
  font-size: 12px;
}

/* Media query para hacer responsive */
@media screen and (max-width: 425px) {
  .footer-section {
      flex-direction: column;
      /* Cambia a disposición de columna en pantallas pequeñas */
      text-align: center;
      /* Centra el contenido en pantallas pequeñas */
  }

  .footer-contacto-admin {
      width: 100%;
  }

  .footer-contacto-planta {
      width: 100%;
  }

  .footer-creds {
      width: 100%;
  }

  .footer-contacto-planta,
  .footer-contacto-admin {
      margin-bottom: 20px;
      /* Espaciado entre secciones en pantallas pequeñas */
  }
}

/************************************** Reglas de medios para hacer estilos más responsivos ****************************/
@media (max-width: 980px) {
  .navbar-nav li{
    font-size: 15px;
    padding-right: 0;
  }
  .card {
    max-width: 270px; 
    height: auto;
  }
  .btn{
    padding: 4px;
  }
}

@media (max-width: 768px) {
  .navbar .container-fluid{
   flex-direction: column;
  } 
  .navbar-nav a{
   font-size: 18px;
   text-align: center;
  }
  .navbar-nav li{
   font-size: 18px;
   text-align: center;
   padding-right: 0;
  }
  .tarjetas-servicio-catalogo{
    padding-bottom: 50px;
  }
  .tarjeta {
   max-width: 100%;
  } 
  .card {
   width: 100%;
  /* Ocupa el 100% en pantallas más pequeñas */
  }
 .btn{
   max-height: 35px;
  }
  .banner-planta-puerta {
    height: auto;
    /* Permitir que la altura sea automática en pantallas más pequeñas */
  }
  #info-contacto{
    flex-direction: column;
    align-items: center;  
  }
  .footer-contacto-admin{
    order: 2;
  }
  .footer-contacto-planta{
    order: 1;
    padding-bottom: 20px;
  }
}

@media (max-width: 670px) {
  .navbar-nav li{
    font-size: 15px;
    padding-right: 0;
  }
  .banner-servicios img{
    max-height: 30vh;
  }
  .intro-desarrollo p{
    display: none;
  }
  .card {
    max-width: 390px; 
    width: 370px; 
  }
}

@media (max-width: 410px) {
  .navbar-nav li{
    font-size: 15px;
    padding-right: 0;
  }
  .card {
    max-width: 300px; 
  }
}